body {
    display: flex;
    height: 98vh;
    align-items: center;
    flex-direction: column;
}

img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

span,
h1,
h2 {
    color: white;
}

#login-form {
    width: 210px;
}

#clock {
    font-size: 80px;
    font-weight: 600;
    color: #c0c0c0;

}

#quote span {
    display: block;
}

#greeting {
    font-size: 40px;
    margin-bottom: 40px;
}

#todo-form input {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 10px;
    width: 400px;
}

.todo-list {
    width: 430px;
    height: 350px;
    margin-bottom: 50px;
}

#todo-list {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

#todo-list li {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

#todo-list span {
    color: #141510;
    font-size: 15px;
    font-weight: 400;
    margin-left: -30px;
}

#todo-list button {
    margin-right: 10px;
    border-radius: 60%;
    color: black;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.0);
    border-color: rgba(255, 255, 255, 0.0);
}

#weather span {
    font-size: 20px;
    font-weight: 400;
}

#weather {
    margin-bottom: 20px;
}

#quote {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote span:last-child {
    color: lightsteelblue;
}

.login-form {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
}

.login-form input {
    width: 120px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;

}

.login-form button {
    padding: 5px 3px;
    border: 1px solid black;
    border-radius: 20px;
}

.todo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}